body {
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.dashboard-container {
    width: 800px;
    margin: 50px auto;
}

.modify-container {
    width: 400px;
    margin: 50px auto;
}

.available {
    background-color: lightgreen; /* Changer en vert clair */
}

.occupied {
    background-color: orange;
}

.unavailable {
    background-color: red;
}
